@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Whitrabt";
    src: url("/fonts/whitrabt.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    @apply bg-darkBg text-white;
    font-family: "Whitrabt", sans-serif;
}
